<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Details</title>
</head>


<body style="background-image: url('images/backgr.png'); background-size: cover">

<div class="container py-5 bg-light " style="margin-top:180px; opacity:0.95">

  <div  style="display: inline-block; margin-left: 35%; width: 100%; ">
    <h1 style="right:14%;position:relative;">Ils partagent avec vous le même trajet...</h1>

    <table class="table"  style=" width: 30%; margin-top:20px;">

    <thead>
      <th>Nom</th>
      <th>Prenom</th>

      </thead>

      <tbody>

      <tr th:each="user: ${userList}">


        <td th:text="${user.firstName}" />
        <td th:text="${user.lastName}" />

      </tr>

      </tbody>

    </table>




  </div>

</div>


</body>

</html>