<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Afficher les annonces</title>
</head>

<body style="background-image: url('images/backgr.png'); background-size: cover">

<div class="container py-5 bg-light " style="margin-top:180px; opacity:0.95">

  <div  style="display: inline-block; margin-left: 5%; width: 100%; ">
    <h1 style="left:35%;position:relative;">Les annonces</h1>




    <table class="table"  style=" width: 90%; margin-top:20px;">




      <thead>
      <th scope="col">Date</th>
      <th scope="col">Depart</th>
      <th scope="col">Arrive</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>



      </thead>

      <tbody>

      <tr th:each="tempAnnonces: ${annonces}">

        <td th:text="${tempAnnonces.date}" />
        <td th:text="${tempAnnonces.depart}" />
        <td th:text="${tempAnnonces.arrive}" />

          <td>


                          <span th:switch="${statusList[tempAnnoncesStat.index]}">
                              <span th:case="0"><a class="btn btn-success btn-sm" th:text="Participer" th:href="@{/accepte-annonce(annonce_id=${tempAnnonces.id})}" /></span>
                              <span th:case="1">Accepté</span>
                              <span th:case="2">Refusé</span>
                              <span th:case="3">Conducteur</span>
                              <span th:case="4">Demande envoyée</span>
















          </td>
          <td>    <a class="btn btn-info btn-sm" th:text="Details" th:href="@{/details-annonce(annonce_id=${tempAnnonces.id})}" /></td>


      </tr>

      </tbody>

    </table>




  </div>

</div>


</body>

</html>