<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <title>Show Propositions</title>
</head>

<body style="background-image: url('images/backgr.png'); background-size: cover">




<div class="container py-5 bg-light " style="margin-top:180px; opacity:0.95">

    <div  style="display: inline-block; margin-left: 15%; width: 100%; ">
        <h1 style="left:25%;position:relative;">Demandes</h1>





        <table class="table"  style=" width: 70%; margin-top:20px;">





        <thead>
      <th>Date</th>
      <th>Depart</th>
      <th>Arrive</th>
      <th>Prenom,Nom </th>
      <th>Status</th>



      </thead>

      <tbody>

      <tr th:each="tempAnnonces: ${annonces}">

<span th:if="${reponseConducteur[tempAnnoncesStat.index]} != 3" >

        <td th:text="${tempAnnonces.date}" />
        <td th:text="${tempAnnonces.depart}" />
        <td th:text="${tempAnnonces.arrive}" />

          <td th:text="${usersNomPrenom[tempAnnoncesStat.index]}" />


      <td>


        <span th:if="${reponseConducteur[tempAnnoncesStat.index]} == 0" >
   <a class="btn btn-success btn-sm" th:text="Accepter" th:href="@{/accepte-proposition/{id1}/{id2}    (id1=${proposedUserId[tempAnnoncesStat.index]}    , id2=${tempAnnonces.id})    }" />
        <a class="btn btn-danger btn-sm" th:text="Refuser" th:href="@{/refuse-proposition/{id1}/{id2}    (id1=${proposedUserId[tempAnnoncesStat.index]}    ,id2=${tempAnnonces.id})    }" />

             </span>
        <span th:if="${reponseConducteur[tempAnnoncesStat.index]} == 1" >
                Accepté
             </span>
        <span th:if="${reponseConducteur[tempAnnoncesStat.index]} == 2" >
                Refusé
             </span>











        </td>
    </span>


      </tr>



      </tbody>

    </table>




  </div>

</div>


</body>

</html>